<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}">Title</title>
    <meta charset="utf-8">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/antv-g2/4.1.0/g2.min.js"></script>
</head>
<body>
    <h1 th:text="${title}">Title</h1>
    <div id="container"></div>

    <script>
        // https://g2.antv.vision/zh/docs/manual/getting-started
        const data = [
          { year: '1951 年', sales: 38 },
          { year: '1952 年', sales: 52 },
          { year: '1956 年', sales: 61 },
          { year: '1957 年', sales: 145 },
          { year: '1958 年', sales: 48 },
          { year: '1959 年', sales: 38 },
          { year: '1960 年', sales: 38 },
          { year: '1962 年', sales: 38 },
        ];

        const chart = new Chart({
          container: 'container',
          autoFit: true,
          height: 500,
        });

        chart.data(data);
        chart.scale('sales', {
          nice: true,
        });

        chart.tooltip({
          showMarkers: false
        });
        chart.interaction('active-region');

        chart.interval().position('year*sales');

        chart.render();
    </script>
</body>